<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Arimo&display=swap" rel="stylesheet">
    <title>Document</title>
    <link rel="stylesheet" href="CSS/style.css">
</head>

<body>

    <header>
        {{>headers}}

        <main>
            <div class="leftside">
                <div>
                    <h3>HELLO</h3>
                    <h1>I AM SHUBHAM KR.</h1>
                    <h2>WEB DEVLOPER and SOFTWARE ENGINEER</h2>
                    <a href="#" class="btn1">HIRE ME</a>
                    <a href="#" class="btn2">CONTACT ME</a>
                </div>

            </div>
            <div class="rightside">
                <img src="Images/image1.png" alt="img">
            </div>
        </main>
    </header>

</body>

</html>