<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../public/CSS/style.css">

</head>

<body>
    <section class="navsection">
        <div class="logo">
            <h1> Shubham kr </h1>
        </div>
        <nav>
            <a href="/">Home</a>
            <a href="#">services</a>
            <a href="#">gallery</a>
            <a href="/weather">Weather</a>
            <a href="/about">about</a>
            <a href="#">contact</a>

        </nav>
    </section>
</body>

</html>